.bedroom,
.common,
.kitchen{
    padding: 5px;
    margin-bottom: 3px;
    border: 2px solid #444444;
}

.bedroom{
    background-color: lightyellow;
    
}

.common{
    background-color: lightblue;
    border-right-width: 1px;
}

.kitchen{
    background-color: lightgreen;
    border-left-width: 1px;
}

